<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        href="/penilaian"
        aria-expanded="false"
        aria-controls="charts"
      >
        <i class="icon-bar-graph menu-icon"></i>
        <span class="menu-title">Penilaian</span>
        <!-- <i class="menu-arrow"></i> -->
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#auth"
        aria-expanded="false"
        aria-controls="auth"
      >
        <i class="icon-head menu-icon"></i>
        <span class="menu-title">Master Data</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/pegawai"> Data Pegawai </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/jabatan"> Data Jabatan </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">
        <i class="icon-paper menu-icon"></i>
        <span class="menu-title">Logout</span>
      </a>
    </li>
  </ul>
</nav>
