<% layout('layouts/boilerplate') %> <%- include('./partials/spinner') %> <%-
include('./partials/sidebar') %> <%- include('./partials/navbar') %>
<h1 style="text-align: center">Ini Dashboard</h1>
<%- include('./partials/footer') %>
