<% layout('layouts/boilerplate') %>
<% layout('layouts/boilerplate')%>

<div class="container justify-content-center align-items-center mt-3">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <div class="card-body">
          <div class="d-flex">
            <a class="navbar-brand brand-logo font-weight-bold text-primary" href="/dashboard">
              <img src="/images/logo-pertamina.png" alt="logo" style="width: 72px;" />
              PERTAMINA
            </a>
          </div>
          <h5 class="card-title text-center">Register</h5>
          <form action="/register" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input class="form-control" type="text" id="username" name="username" autofocus required>
            </div>
            <div class="mb-3">
              <label class="form-label" for="email">E-mail</label>
              <input class="form-control" type="text" id="email" name="email" autofocus required>
            </div>
            <div class="mb-3">
              <label class="form-label" for="nip">NIP</label>
              <input class="form-control" type="text" id="nip" name="nip" autofocus required>
            </div>
            <div class="mb-3">
              <label class="form-label" for="jabatanID">Jabatan</label>
              <select
              class="form-control"
              id="jabatanID"
              name="jabatanID"
              required
            >
              <% jabatan.forEach(jabatan => { %>
              <option value="<%= jabatan._id %>">
                <%= jabatan.namaJabatan %>
              </option>
              <% }); %>
            </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input class="form-control" type="password" id="password" name="password" required>
            </div>
            <button class="btn btn-primary btn-block">Register</button>
          </form>
          <p class="text-center mt-4 mb-0">
            Already have an Account? <a href="/login">Login</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>