<!-- Add New Jabatan Modal -->
<div
  class="modal fade"
  id="addJabatanModal"
  tabindex="-1"
  aria-labelledby="addJabatanModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-scrollable modal-md"
    style="max-height: 80vh"
  >
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="addJabatanModalLabel">
          Tambah Jabatan Baru
        </h5>
        <button
          type="button"
          class="close text-white"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Your form or other content goes here -->
        <form action="/jabatan/new" method="POST">
          <div class="form-group">
            <label for="jabatan-name">Nama Jabatan</label>
            <input
              type="text"
              class="form-control"
              id="jabatan-name"
              name="namaJabatan"
              placeholder="Manager..."
            />
          </div>
          <!-- Add other fields if necessary -->

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Simpan</button>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Tutup
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
